@model MVC_Ticari_Otomasyon.Models.Siniflar.Personel
@{ ViewBag.Title = "PersonelEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml"; }

<br />
<h2>Personel Ekleme Sayfası</h2>
<br />



@using (Html.BeginForm("PersonelEkle", "Personel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
@Html.AntiForgeryToken()

<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        Personel Görseli<br />
        <input type="file" name="PersonelGorseli" />
        <br />
        @*@Html.EditorFor(x => x.PersonelGorseli, new { htmlAttributes = new { @class = "form-group", type = "file" } })
            <br />*@
    </div>

    <div class="form-group">
        Personel Adı
        @Html.TextBoxFor(x => x.PersonelAdi, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.PersonelAdi, "", new { @style = "color:red" })
        <br />
    </div>

    <div class="form-group">
        Personel Soyadı
        @Html.TextBoxFor(x => x.PersonelSoyadi, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.PersonelSoyadi, "", new { @style = "color:red" })
        <br />
    </div>

    <div class="form-group">
        Departman
        @Html.DropDownListFor(x => x.Departmanid, (List<SelectListItem>)ViewBag.Departman, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Departmanid, "", new { @style = "color:red" })
        <br />
    </div>

    <div class="form-group">
        Adres
        @Html.TextAreaFor(x => x.PersonelAdresi, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.PersonelAdresi, "", new { @style = "color:red" })
        <br />
    </div>

    <div class="form-group">
        Şehir
        @Html.TextBoxFor(x => x.PersonelSehir, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.PersonelSehir, "", new { @style = "color:red" })
        <br />
    </div>

    <div class="form-group">
        Mail
        @Html.TextBoxFor(x => x.PersonelMaili, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.PersonelMaili, "", new { @style = "color:red" })
        <br />
    </div>

    <div class="form-group">
        Telefon
        @Html.TextBoxFor(x => x.PersonelTelefonu, new { @class = "form-control", @type = "phone" })
        @Html.ValidationMessageFor(x => x.PersonelTelefonu, "", new { @style = "color:red" })
        <br />
    </div>

    <div class="form-group">
        Üniversite Bilgisi
        @Html.TextBoxFor(x => x.UniversiteBilgisi, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.UniversiteBilgisi, "", new { @style = "color:red" })
        <br />
    </div>

    <div class="form-group">
        Yetenek Bilgisi
        @Html.TextAreaFor(x => x.YetenekBilgisi, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.YetenekBilgisi, "", new { @style = "color:red" })
        <br />
    </div>

    <div class="form-group">
        Yetki
        @Html.DropDownListFor(x => x.Yetki, (List<SelectListItem>)ViewBag.Yetki, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Yetki, "", new { @style = "color:red" })
        <br />
    </div>

</div>
                                
<button class="btn btn-success" id="kayitBasarili">Kaydet</button>
<a href="/Personel/PersonelListesi" class="btn btn-info" style="background-color:darkcyan; color:aliceblue;">Personel Listesi</a>}

<script>
    $('#kayitBasarili').click(function () {
        alert("Ekleme İşlemi Başarılı Bir Şekilde Gerçekleşti");
    });
</script>