@using MVC_Ticari_Otomasyon.Models.Siniflar

@model List<Personel>

@{ Layout = null; }

<br />

<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Bootstrap 4 Responsive Datatable and Export to PDF, CSV</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap4.min.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">

</head>

<body>

    <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">

        <thead>

            <tr>

                <th style="display:table table-cell; vertical-align:middle;" class="text-center">#</th>
                <th style="display:table table-cell; vertical-align:middle;" class="text-center">Fotoğraf</th>
                <th style="display:table table-cell; vertical-align:middle;" class="text-center">Personel</th>
                <th style="display:table table-cell; vertical-align:middle;" class="text-center">Departman</th>
                <th style="display:table table-cell; vertical-align:middle;" class="text-center">Adres</th>
                <th style="display:table table-cell; vertical-align:middle;" class="text-center">Şehir</th>
                <th style="display:table table-cell; vertical-align:middle;" class="text-center">Mail</th>
                <th style="display:table table-cell; vertical-align:middle;" class="text-center">Telefon</th>
                <th style="display:table table-cell; vertical-align:middle;" class="text-center">Üniversite Bilgisi</th>
                <th style="display:table table-cell; vertical-align:middle;" class="text-center">Yetenek Bilgisi</th>
                <th style="display:table table-cell; vertical-align:middle;" class="text-center">Yetki</th>
                <th style="display:table table-cell; vertical-align:middle;" class="text-center">Durum</th>

            </tr>

        </thead>

        <tbody>

            @{int sayac = 0;}

            @foreach (var item in Model)

            {

            <tr>

                <td style="display:table table-cell; vertical-align:middle;" class="text-center">@{sayac += 1;} @sayac</td>
                <td style="display:table table-cell; vertical-align:middle;" class="text-center">
                    @if (item.PersonelGorseli == null || item.PersonelGorseli == "")
                    {
                        <img src="~/Images/resim-yok.png" width="120" height="80" /> }
                    else
                    {
                        <img src="@item.PersonelGorseli" width="120" height="80" />}
                </td>
                <td style="display:table table-cell; vertical-align:middle;">@item.PersonelAdi @item.PersonelSoyadi</td>
                <td style="display:table table-cell; vertical-align:middle;">@item.Departman.DepartmanAdi</td>
                <td style="display:table table-cell; vertical-align:middle;">@item.PersonelAdresi</td>
                <td style="display:table table-cell; vertical-align:middle;">@item.PersonelSehir</td>
                <td style="display:table table-cell; vertical-align:middle;">@item.PersonelMaili</td>
                <td style="display:table table-cell; vertical-align:middle;">@item.PersonelTelefonu</td>
                <td style="display:table table-cell; vertical-align:middle;">@item.UniversiteBilgisi</td>
                <td style="display:table table-cell; vertical-align:middle;">@item.YetenekBilgisi</td>
                <td style="display:table table-cell; vertical-align:middle;">@item.Yetki</td>
                <td style="display:table table-cell; vertical-align:middle;">@item.PersonelDurumu</td>

            </tr>
            }

        </tbody>

    </table>
    <a href="/Personel/PersonelListesi" class="btn btn-primary" style="color:aliceblue;">Personel Listesi</a>



    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap4.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>

    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>

    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>

    <script>$(document).ready(function () {

            var table = $('#example').DataTable({

                lengthChange: false,

                buttons: ['copy', 'excel', 'csv', 'pdf', 'colvis']


                //"language": {
                //        "url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Turkish.json"
                //    }

            });



            table.buttons().container()

                .appendTo('#example_wrapper .col-md-6:eq(0)');

        });</script>

</body>

</html>