@model MVC_Ticari_Otomasyon.Models.Siniflar.Fatura
@{ ViewBag.Title = "FaturaGetir";
                Layout = "~/Views/Shared/AdminLayout.cshtml"; }

<br />
<h2>Fatura Güncelleme Sayfası</h2>
<br />

@using (Html.BeginForm("FaturaGuncelle", "Fatura", FormMethod.Post))
{
<div class="form-group">
    @Html.HiddenFor(x => x.FaturaID)
    Seri No
    @Html.TextBoxFor(z => z.FaturaSeriNo, new { @class = "form-control", @readonly = "true" })
    @Html.ValidationMessageFor(x => x.FaturaSeriNo, "", new { @style = "color:red" })
    <br />
    Sıra No
    @Html.TextBoxFor(z => z.FaturaSiraNo, new { @class = "form-control", @type = "number", @readonly = "true" })
    @Html.ValidationMessageFor(x => x.FaturaSiraNo, "", new { @style = "color:red" })
    <br />
    Vergi Dairesi
    @Html.TextBoxFor(z => z.FaturaVergiDairesi, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.FaturaVergiDairesi, "", new { @style = "color:red" })
    <br />
    Tarih
    @Html.TextBoxFor(z => z.FaturaTarih, new { @class = "form-control", @type = "date" })
    @Html.ValidationMessageFor(x => x.FaturaTarih, "", new { @style = "color:red" })
    <br />
    Saat
    @Html.TextBoxFor(z => z.FaturaSaat, new { @class = "form-control", @type = "time" })
    @Html.ValidationMessageFor(x => x.FaturaSaat, "", new { @style = "color:red" })
    <br />
    Teslim Eden
    @Html.DropDownListFor(x => x.FaturaTeslimEden, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.FaturaTeslimEden, "", new { @style = "color:red" })
    <br />
    Teslim Alan
    @Html.DropDownListFor(x => x.FaturaTeslimAlan, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.FaturaTeslimAlan, "", new { @style = "color:red" })
    <br />
</div>
                <br />
                                <button class="btn" style="background-color:#a725a4; color:antiquewhite" id="kayitBasarili">Değişiklikleri Kaydet</button>
                                                <a href="/Fatura/Index" class="btn btn-info" style="background-color:darkcyan; color:aliceblue;">Fatura Listesi</a>}

<script>
    $('#kayitBasarili').click(function () {
        alert("Güncelleme İşlemi Başarılı Bir Şekilde Gerçekleşti");
    });
</script>