@model IEnumerable<MVC_Ticari_Otomasyon.Models.Siniflar.SinifGrup3>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Ürün Marka Tablosu</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Marka</th>
                    <th>Doluluk</th>
                    <th>Ürün Adedi</th>
                    <th style="width: 40px">Oran</th>
                </tr>
            </thead>
            <tbody>
                @{ int siraNo = 0;}
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@{siraNo += 1;} @siraNo</td>
                        <td>@item.Marka</td>
                        <td>
                            @if (item.Sayi >= 1 && item.Sayi < 3)
                            {
                                <div class="progress progress-xs">
                                    <div class="progress-bar bg-danger" style="width:13%"></div>
                                </div>
                            }
                            @if (item.Sayi >= 3 && item.Sayi < 7)
                            {
                                <div class="progress progress-xs">
                                    <div class="progress-bar bg-warning" style="width: 37%"></div>
                                </div>
                            }
                            @if (item.Sayi >= 7 && item.Sayi < 10)
                            {
                                <div class="progress progress-xs">
                                    <div class="progress-bar bg-blue" style="width: 63%"></div>
                                </div>
                            }
                            @if (item.Sayi >= 10)
                            {
                                <div class="progress progress-xs progress-striped active">
                                    <div class="progress-bar bg-success" style="width: 88%"></div>
                                </div>
                            }
                        </td>
                        <td>
                            @if (item.Sayi >= 1 && item.Sayi < 3)
                            {
                                <span class="badge bg-danger">@item.Sayi</span>
                            }
                            @if (item.Sayi >= 3 && item.Sayi < 7)
                            {
                                <span class="badge bg-warning">@item.Sayi</span>
                            }
                            @if (item.Sayi >= 7 && item.Sayi < 10)
                            {
                                <span class="badge bg-success">@item.Sayi</span>
                            }
                            @if (item.Sayi >= 10)
                            {
                                <span class="badge bg-success">@item.Sayi</span>
                            }
                        </td>
                        <td>
                            @if (item.Sayi >= 1 && item.Sayi < 3)
                            {
                                <span class="badge bg-danger">%0-%25</span>
                            }
                            @if (item.Sayi >= 3 && item.Sayi < 7)
                            {
                                <span class="badge bg-warning">%25-%50</span>
                            }
                            @if (item.Sayi >= 7 && item.Sayi < 10)
                            {
                                <span class="badge bg-success">%50-%75</span>
                            }
                            @if (item.Sayi >= 10)
                            {
                                <span class="badge bg-success">%75-%100</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>