@using MVC_Ticari_Otomasyon.Models.Siniflar
@model List<Urun>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Ürün Fixed Bilgi Tablosu</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Aranacak kelime...">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Ürün Adı</th>
                            <th>Ürün Markası</th>
                            <th>Ürün Stoğu</th>
                            <th>Ürün Alış Fiyatı</th>
                            <th>Ürün Satış Fiyatı</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{int sayac = 0;}
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@{sayac += 1;} @sayac</td>
                                <td>@item.UrunAdi</td>
                                <td>@item.UrunMarka</td>
                                <td>@item.UrunStok</td>
                                <td>@item.UrunAlisFiyati ₺</td>
                                <td>@item.UrunSatisFiyati ₺</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
