@using MVC_Ticari_Otomasyon.Models.Siniflar
@using PagedList
@using PagedList.Mvc
@model PagedList<Urun>

@{ ViewBag.Title = "UrunlerListesi";
    Layout = "~/Views/Shared/_Layout2.cshtml"; }

<br />

@using (Html.BeginForm("UrunlerListesi", "Tanitim", FormMethod.Get))
{
    <p>
        Ürün Adı : @Html.TextBox("aranacakKelime")
        <input type="submit" value="Ara" />
    </p>}

<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th style="display:table table-cell; vertical-align:middle;" class="text-center">#</th>
        <th style="display:table table-cell; vertical-align:middle;" class="text-center">Ürün Adı</th>
        <th style="display:table table-cell; vertical-align:middle;" class="text-center">Marka</th>
        <th style="display:table table-cell; vertical-align:middle;" class="text-center">Satış Fiyatı</th>
        <th style="display:table table-cell; vertical-align:middle;" class="text-center">Kategori</th>
        <th style="display:table table-cell; vertical-align:middle;" class="text-center">Ürün Görseli</th>
    </tr>
    @{int sayac = 0;}
    @foreach (var item in Model)
    {
        <tr>
            <td style="display:table table-cell; vertical-align:middle;" class="text-center">@{sayac += 1;} @sayac</td>
            <td style="display:table table-cell; vertical-align:middle;">@item.UrunAdi</td>
            <td style="display:table table-cell; vertical-align:middle;">@item.UrunMarka</td>
            <td style="display:table table-cell; vertical-align:middle;">@item.UrunSatisFiyati ₺</td>
            <td style="display:table table-cell; vertical-align:middle;">@item.Kategori.KategoriAdi</td>
            <td style="display:table table-cell; vertical-align:middle;" class="text-center">
                @if (item.UrunGorseli == null || item.UrunGorseli == "")
                {
                    <img src="~/Images/resim-yok.png" width="120" height="80" /> }
                else
                {
                    <img src="@item.UrunGorseli" width="120" height="80" />}
            </td>
            
        </tr>
}
</table>

@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("UrunlerListesi", new { sayfa }),
new PagedListRenderOptions@*Sayfa değerine her tıklandığında, yeni bir sayfa oluşturarak bana Kategori Listesini aç*@
{
LiElementClasses = new List<string>
{
"page-link"         //Sayfanın linklerini ekle
}
})



<a href="/Login/Index" class="btn btn-info" style="background-color:darkcyan; color:aliceblue;">Giriş Sayfası</a>