@*@using MVC_Ticari_Otomasyon.Models.Siniflar
    @model List<SatisHareket>*@

@using MVC_Ticari_Otomasyon.Models.Siniflar
@using PagedList
@using PagedList.Mvc
@model PagedList<SatisHareket>

@{ ViewBag.Title = "SatisListesi";
    Layout = "~/Views/Shared/AdminLayout.cshtml"; }

<br />


<table id="tbl1" class="table table-bordered" style="margin-top:20px;">
    <thead>
        <tr>
            <th style="display:table table-cell; vertical-align:middle;" class="text-center">#</th>
            <th style="display:table table-cell; vertical-align:middle;" class="text-center">Ürün</th>
            <th style="display:table table-cell; vertical-align:middle;" class="text-center">Cari</th>
            <th style="display:table table-cell; vertical-align:middle;" class="text-center">Personel</th>
            <th style="display:table table-cell; vertical-align:middle;" class="text-center">Adet</th>
            <th style="display:table table-cell; vertical-align:middle;" class="text-center">Fiyat</th>
            <th style="display:table table-cell; vertical-align:middle;" class="text-center">Toplam</th>
            <th style="display:table table-cell; vertical-align:middle;" class="text-center">Tarih</th>
            <th style="display:table table-cell; vertical-align:middle;" class="text-center">İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @{int sayac = 0;}
        @foreach (var item in Model)
        {
<tr>
    <td style="display:table table-cell; vertical-align:middle;" class="text-center">@{sayac += 1;} @sayac</td>
    <td style="display:table table-cell; vertical-align:middle;">@item.Urun.UrunAdi</td>
    <td style="display:table table-cell; vertical-align:middle;">@item.Cari.CariAdi @item.Cari.CariSoyadi</td>
    <td style="display:table table-cell; vertical-align:middle;">@item.Personel.PersonelAdi @item.Personel.PersonelSoyadi</td>
    <td style="display:table table-cell; vertical-align:middle;">@item.SatisHareketAdedi</td>
    <td style="display:table table-cell; vertical-align:middle;">@item.SatisHareketFiyati ₺</td>
    <td style="display:table table-cell; vertical-align:middle;">@item.SatisHareketToplamTutari ₺</td>
    <td style="display:table table-cell; vertical-align:middle;">@item.SatisHareketTarihi.ToShortDateString()</td>
    <td style="display:table table-cell; vertical-align:middle;" class="text-center">
        <a href="/Satis/SatisDetayi/@item.SatisHareketID" class="btn" style="background-color:forestgreen; color: aliceblue">Detay</a>
        <a href="/Satis/SatisGetir/@item.SatisHareketID" class="btn" style="background-color:darkorange; color:aliceblue">Güncelle</a>

    </td>
</tr>}
    </tbody>
</table>

@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("SatisListesi", new { sayfa }),
new PagedListRenderOptions@*Sayfa değerine her tıklandığında, yeni bir sayfa oluşturarak bana Kategori Listesini aç*@
{
                LiElementClasses = new List<string>
                                                {
"page-link"         //Sayfanın linklerini ekle
                }
            })

@*<a href="/Satis/SatisEkle" class="btn btn-info">Satış Yap</a>*@







@*https://yadi.sk/d/TdQwD14UI_2sfg adresinde veya Proje Klasöründe aşağıdaki kod satırları metin belgesi olarak bulunuyor.*@


@*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#tbl1').dataTable({

        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Turkish.json"
        }

    });
</script>