@using MVC_Ticari_Otomasyon.Models.Siniflar
@model List<SatisHareket>
@{
    ViewBag.Title = "SatisDetayi";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Satış Detayı Sayfasi</h2>
<br />

<table class="table table-condensed">
    <tr>
        <th style="display:table table-cell; vertical-align:middle;" class="text-center">#</th>
        <th style="display:table table-cell; vertical-align:middle;" class="text-center">Ürün</th>
        <th style="display:table table-cell; vertical-align:middle;" class="text-center">Cari</th>
        <th style="display:table table-cell; vertical-align:middle;" class="text-center">Personel</th>
        <th style="display:table table-cell; vertical-align:middle;" class="text-center">Fiyat</th>
        <th style="display:table table-cell; vertical-align:middle;" class="text-center">Adet</th>
        <th style="display:table table-cell; vertical-align:middle;" class="text-center">Toplam Tutar</th>
        <th style="display:table table-cell; vertical-align:middle;" class="text-center">Tarih</th>
        <th style="display:table table-cell; vertical-align:middle;" class="text-center">İşlemler</th>
    </tr>
    @{int sayac = 0;}
    @foreach (var item in Model)
    {
<tr>
    <td style="display:table table-cell; vertical-align:middle;" class="text-center">@{sayac += 1;} @sayac</td>
    <td style="display:table table-cell; vertical-align:middle;" class="text-center">@item.Urun.UrunAdi</td>
    <td style="display:table table-cell; vertical-align:middle;" class="text-center">@item.Cari.CariAdi @item.Cari.CariSoyadi</td>
    <td style="display:table table-cell; vertical-align:middle;" class="text-center">@item.Personel.PersonelAdi @item.Personel.PersonelSoyadi</td>
    <td style="display:table table-cell; vertical-align:middle;" class="text-center">@item.SatisHareketFiyati ₺</td>
    <td style="display:table table-cell; vertical-align:middle;" class="text-center">@item.SatisHareketAdedi</td>
    <td style="display:table table-cell; vertical-align:middle;" class="text-center">@item.SatisHareketToplamTutari ₺</td>
    <td style="display:table table-cell; vertical-align:middle;" class="text-center">@item.SatisHareketTarihi.ToShortDateString()</td>
    <td><a href="/Satis/SatisiYazdir/@item.SatisHareketID" class="btn btn-default" style="background-color:mediumslateblue; color:aliceblue">Kaydet</a></td>
</tr>
    }
</table>

<a href="/Satis/SatisListesi" class="btn btn-info" style="background-color:darkcyan; color:aliceblue;">Satış Listesi</a>