@model MVC_Ticari_Otomasyon.Models.Siniflar.SatisHareket
@{
    ViewBag.Title = "SatisGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Satış İşlemi Güncelleme Sayfası</h2>
<br />

@using (Html.BeginForm("SatisGuncelle", "Satis", FormMethod.Post))
{
    @Html.HiddenFor(x => x.SatisHareketID)


    @*@Html.Label("Ürün")*@
    <input type="text" class="form-control" value="@ViewBag.UrunID" name="Urunid" readonly hidden/>
    @*@Html.DropDownListFor(x => x.Urunid, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })*@
    @*<br />*@
    @Html.Label("Cari")
    @Html.DropDownListFor(x => x.Cariid, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })
    <br />
    @Html.Label("Personel")
    @Html.DropDownListFor(x => x.Personelid, (List<SelectListItem>)ViewBag.dgr3, new { @class = "form-control" })
    <br />
    @Html.Label("Adet")
    <input type="number" class="form-control"  value="@ViewBag.UrunAdedi" name="SatisHareketAdedi" id="txt1" onchange="sum();" max="10" min="1"/>
    @*<input type="number" class="form-control" max="10" min="1" placeholder="Adet sayısını giriniz..." id="txt1" onchange="sum();" name="SatisHareketAdedi" />*@
    <br />
    @Html.Label("Fiyat")
    <input type="number" class="form-control" id="txt2" value="@ViewBag.UrunFiyati" onkeyup="cum();" name="SatisHareketFiyati" readonly />
    @*@Html.TextBoxFor(z => z.SatisHareketFiyati, new { @class = "form-control", @type = "number" })*@
    <br />
    @Html.Label("Toplam Tutar")
    <input type="number" class="form-control" id="txt3" value="@ViewBag.Toplam" readonly name="SatisHareketToplamTutari" />
    @*@Html.TextBoxFor(z => z.SatisHareketToplamTutari, new { @class = "form-control", @type = "number" })*@
    <br />
    @Html.Label("Tarih")
    <input type="date" class="form-control" value="@ViewBag.Tarih" name="SatisHareketTarihi" />
    <br />
    <button class="btn" style="background-color:#a725a4; color:antiquewhite">Değişiklikleri Kaydet</button>
    <a href="/Satis/SatisListesi" class="btn btn-info" style="background-color:darkcyan; color:aliceblue;">Satış Listesi</a>
}

<script>
    function sum() {
        var sayi1 = document.getElementById('txt1').value;
        var sayi2 = document.getElementById('txt2').value;
        var sonuc = parseInt(sayi1) * parseInt(sayi2);

        if (!isNaN(sonuc)) {
            document.getElementById('txt3').value = sonuc;
        }
    }
</script>