
@{
    ViewBag.Title = "FaturaKalemiEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Fatura Kalemi Ekleme Sayfası</h2>
<br />

<form class="form-group" method="post">


    @Html.Label("Açıklama")
    <input type="text" name="FaturaKalemAciklama" value="@ViewBag.UrunID" class="form-control" readonly />
    <br />


    @Html.Label("Miktar")
    <input type="number" class="form-control" max="10" min="1" placeholder="Adet sayısını giriniz..." id="txt1" onchange="sum();" name="FaturaKalemMiktar" />
    <br />


    @Html.Label("Birim Fiyat")
    <input type="number" class="form-control" id="txt2" value="@ViewBag.Fiyat" onkeyup="cum();" name="FaturaKalemBirimFiyat" readonly />
    <br />


    Tutar
    <input type="text" class="form-control" id="txt3" value="0" readonly name="FaturaKalemTutar" />
    @*@Html.TextBoxFor(x => x.FaturaKalemTutar, new { @class = "form-control", @readonly = true, @hidden = true })*@
    <br />


    @*Fatura*@
    <input type="text" name="Faturaid" value="@(ViewBag.Fatura)" class="form-control" readonly hidden />
    <br />


    <button class="btn btn-success">Kaydet</button>
    <a href="/Fatura/Index" class="btn btn-info" style="background-color:darkcyan; color:aliceblue;">Fatura Listesi</a>
</form>


<script>
    function sum() {
        var sayi1 = document.getElementById('txt1').value;
        var sayi2 = document.getElementById('txt2').value;
        var sonuc = parseInt(sayi1) * parseInt(sayi2);

        if (!isNaN(sonuc)) {
            document.getElementById('txt3').value = sonuc;
        }
    }
</script>