@model MVC_Ticari_Otomasyon.Models.Siniflar.Urun
@{
    ViewBag.Title = "UrunEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Ürün Ekleme Sayfası</h2>
<br />

@using (Html.BeginForm("UrunEkle", "Urun", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            Ürün Görseli<br />
            @*@Html.LabelFor(x => x.UrunGorseli, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <input type="file" name="UrunGorseli" />
            @*@Html.EditorFor(x => x.UrunGorseli, new { htmlAttributes = new { @class = "form-group", type = "file" } })*@
        </div>

        <div class="form-group">
            Ürün Adı
            @Html.TextBoxFor(x => x.UrunAdi, new { @class = "form-control" })
        </div>

        <div class="form-group">
            Ürün Markası
            @Html.TextBoxFor(x => x.UrunMarka, new { @class = "form-control" })
        </div>

        <div class="form-group">
            Ürün Stoğu
            @Html.TextBoxFor(x => x.UrunStok, new { @class = "form-control" })
        </div>

        <div class="form-group">
            Ürün Alış Fiyatı
            @Html.TextBoxFor(x => x.UrunAlisFiyati, new { @class = "form-control" })
        </div>

        <div class="form-group">
            Ürün Satış Fiyatı
            @Html.TextBoxFor(x => x.UrunSatisFiyati, new { @class = "form-control" })
        </div>

        <div class="form-group">
            Ürün Kategorisi
            @Html.DropDownListFor(x => x.Kategoriid, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })   @*İlişkili tablo olduğundan bu şekilde yapıyoruz, istenen değeri atayabilmek için*@
        </div>
    </div>


    <button class="btn btn-success" id="kayitBasarili">Kaydet</button>
    <a href="/Urun/UrunlerListesi" class="btn btn-info" style="background-color:darkcyan; color:aliceblue;">Ürün Listesi</a>
}

<script>$('#kayitBasarili').click(function () {
        alert("Ekleme İşlemi Başarılı Bir Şekilde Gerçekleşti");
});
    </script>