@model MVC_Ticari_Otomasyon.Models.Siniflar.Cari
@{
    ViewBag.Title = "CariEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Cari Ekleme Sayfası</h2>
<br />

<form class="form-group" method="post" , new { enctype="multipart/form-data" }>

    Cari Görseli
    <input type="file" name="CariGorseli" />
    <br />

    Cari Adı
    @Html.TextBoxFor(x => x.CariAdi, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CariAdi, "", new { @style = "color:red" }) @*Cari Class'ında Validation Kuralları ve Hata mesajlarını yazıp Controllerde                                                                             ModelState.ISvalid yapısını tanımlamadan bu mesaj kullanılamıyor.*@
    <br />
    Cari Soyadı
    @Html.TextBoxFor(x => x.CariSoyadi, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CariSoyadi, "", new { @style = "color:red" })
    <br />

    Cari Şehri
    @Html.TextBoxFor(z => z.CariSehir, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CariSehir, "", new { @style = "color:red" })
    <br />

    Cari Mesleği
    @Html.TextBoxFor(z => z.CariMeslek, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CariMeslek, "", new { @style = "color:red" })
    <br />

    Cari Maili
    @Html.TextBoxFor(z => z.CariMaili, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CariMaili, "", new { @style = "color:red" })
    <br />

    Cari Telefonu
    @Html.TextBoxFor(z => z.CariSehir, new { @class = "form-control", @type = "phone" })
    @Html.ValidationMessageFor(x => x.CariSehir, "", new { @style = "color:red" })
    <br />
    
    Cari Adresi
    @Html.TextAreaFor(z => z.CariSehir, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CariSehir, "", new { @style = "color:red" })
    <br />

    Cari Yetkisi
    @Html.DropDownListFor(x => x.CariSehir, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CariSehir, "", new { @style = "color:red" })
    <br />

    <button class="btn btn-success">Kaydet</button>
    <a href="/Cari/CariListesi" class="btn btn-info" style="background-color:darkcyan; color:aliceblue;">Personel Listesi</a>
</form>
