@*@using MVC_Ticari_Otomasyon.Models.Siniflar
    @model List<Cari>*@
@using MVC_Ticari_Otomasyon.Models.Siniflar
@using PagedList
@using PagedList.Mvc
@model PagedList<Cari>

@{ ViewBag.Title = "PasifCariListesi";
    Layout = "~/Views/Shared/AdminLayout.cshtml"; }

<br />

@using (Html.BeginForm("PasifCariListesi", "Cari", FormMethod.Get))
{
<p>
    Cari Adı : @Html.TextBox("aranacakKelime")
    <input type="submit" value="Ara" />
</p>}

<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th style="display:table table-cell; vertical-align:middle;" class="text-center">#</th>
        <th style="display:table table-cell; vertical-align:middle;" class="text-center">Fotoğraf</th>
        <th style="display:table table-cell; vertical-align:middle;" class="text-center">Cari</th>
        <th style="display:table table-cell; vertical-align:middle;" class="text-center">Şehir</th>
        <th style="display:table table-cell; vertical-align:middle;" class="text-center">Meslek</th>
        <th style="display:table table-cell; vertical-align:middle;" class="text-center">Mail</th>
        <th style="display:table table-cell; vertical-align:middle;" class="text-center">Telefon</th>
        <th style="display:table table-cell; vertical-align:middle;" class="text-center">Adres</th>
        <th style="display:table table-cell; vertical-align:middle;" class="text-center">Yetki</th>
        <th style="display:table table-cell; vertical-align:middle;" class="text-center">İşlemler</th>
    </tr>
    @{int sayac = 0;}
    @foreach (var item in Model)
    {
    <tr>
        <td style="display:table table-cell; vertical-align:middle;" class="text-center">@{sayac += 1;} @sayac</td>
        <td style="display:table table-cell; vertical-align:middle;" class="text-center">
            @if (item.CariGorseli == null || item.CariGorseli == "")
            {
                <img src="~/Images/resim-yok.png" width="120" height="80" /> 
            }
            else
            {
                <img src="@item.CariGorseli" width="120" height="80" />
            }
        </td>
        <td style="display:table table-cell; vertical-align:middle;">@item.CariAdi @item.CariSoyadi</td>
        <td style="display:table table-cell; vertical-align:middle;">@item.CariSehir</td>
        <td style="display:table table-cell; vertical-align:middle;">@item.CariMeslek</td>
        <td style="display:table table-cell; vertical-align:middle;">@item.CariMaili</td>
        <td style="display:table table-cell; vertical-align:middle;">@item.CariTelefonu</td>
        <td style="display:table table-cell; vertical-align:middle;">@item.CariAdresi</td>
        <td style="display:table table-cell; vertical-align:middle;">@item.Yetki</td>
        <td style="display:table table-cell; vertical-align:middle;" class="text-center">
            <a href="/Cari/CariyiAktifEt/@item.CariID" class="btn" style="background-color:mediumpurple; color:aliceblue">Aktif Et</a>
        </td>
    </tr>
    }
</table>

@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("PasifCariListesi", new { sayfa }),
new PagedListRenderOptions@*Sayfa değerine her tıklandığında, yeni bir sayfa oluşturarak bana Kategori Listesini aç*@
{
                LiElementClasses = new List<string>
                        {
"page-link"         //Sayfanın linklerini ekle
                }
            })

<a href="/Cari/CariListesi" class="btn btn-info" style="background-color:darkcyan; color:aliceblue;">Aktif Cari Listesi</a>